@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Sacramento&display=swap');
:root{
    --clr-text:#3d3d3d;
    --clr-primary:#067E0A;
    --clr-primary-dark:#125814;
    --clr-accent:#613b6b;
    --clr-accent-dark:#44264d;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
   color: var(--clr-text);
   
   font-size: 1.125rem;
}
body{
    margin: 0;
    text-align: center;
}
h1,h2,h3,p{
    margin: 0;
}
h2,h3{
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    line-height:1;
    letter-spacing: 2px;
}

h2{
 font-size: 4rem;
}
p{
    margin-bottom: 0.85em;
}
p:last-child{
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 1000%;
    margin: auto;
}
section{
    padding: 3em 1em;
}
.section-title-sm{
    font-size: 3rem;
}
.section-title-sm small{
    font-size: 0.7em;
    /* line-height: 0.7; */
    display: block;
}
.btn-group{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;

}
.btn{
    padding: 0.75em 2.5em;
    color: white;
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
    border-radius: 0.25em;
    
}
/* .btn + .btn{
    margin-left: 0.5em;
} */

.btn-primary{
    background:var(--clr-primary) ;
}
.btn-primary:hover{
    background:var(--clr-primary-dark) ;
}
.btn-accent{
    background:var(--clr-accent) ;
}
.btn-accent:hover{
    background:var(--clr-accent-dark) ;
}
/* nav style */
nav{
    padding: 1em 0 2em;
}
header{
    padding: 1em 0 2em;
}
nav ul{
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a{
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-primary);
    text-decoration: none;
}
nav a:hover,
nav a:focus{
    color: var(--clr-accent);
    text-decoration: underline;
}
.logo{
    text-align: center;

}
.text-primary{
    color: var(--clr-primary);
    text-align: center;
    margin-bottom: 2rem;
}
.logo a{
    text-decoration: none;
    font-family: 'Sacramento', cursiv;
    font-style: oblique;
    font-weight: bolder;
    color: black;

}
.hero{
    background-color: rgb(95, 95, 95);
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    padding: 15vh 1em;
}
/* nav style end*/

/* intro style */

/* intro style end */
/* about us style */
.about-us{
    background: var(--clr-accent);
    display: flex;
    flex-direction: column;
    padding: 0;
    color: white;
}
.about-us__intro{
    background-color: var(--clr-accent);
    background-image:url(../images/granola.jpg) ;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 1em 1.5em;
}

.about-us_body{
    color: rgb(248, 248, 248);
    padding: 1.5em 1em 3em;
}
/* about us style end*/
/* order online styling */
.order-online{
    background: #f0f0f0;
}
/* order online styling end*/
/* product style */
.products{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 30rem;
 
    margin: 0 auto;
}
.product{
    /* background: #e6e6e6; */
    padding: 1em;
    border-radius: 1em;
    /* border: 1px solid red; */
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
}
.product__content{
    padding: 1.5em;
}
.product-title{
    color: var(--clr-primary);
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}
.fintprint{
    font-size: 0.75rem;
    color: rgba(0,0,0,0.85);
}
.mb{
    margin-bottom: 0;
    color: black;
}
.product:last-of-type{
    margin-bottom:2em ;
}
/* product style end*/

/* footer style */
footer{
    display: flex;
    background: var(--clr-accent-dark);
    padding: 3em 1em;
    color: white;
    justify-content: center;
    margin-bottom: 0;
    gap: 5em;
    align-items: center;
}
footer a{
    color: inherit;
}
.footer-nav,
.footer-social{
   
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-nav a{
    padding: 0.75em;
    text-decoration: none;
   
}
.footer-nav a:hover{
    text-decoration: underline;
}
.social-icon{
    width: 50px;
}
.social-link{
    display: inline-block;
    margin-bottom: 5px;
}

/* footer style end */



@media only screen and (min-width:750px){
    section{
        padding: 6em 1em;
    }
    .btn-group{
        margin-top: 1em;
        flex-direction: row;
    }
    .btn + .btn{
        margin-left: 0.5em;
    }
    .about-us{
        flex-direction: row;
    }
    .about-us__intro,
    .about-us_body{
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4em 1em;
       
    }
  
    .about-us__intro{

        text-align: right;
        display: flex;
    }
    .about-us__intro>*{
        max-width: 27rem;
        margin-left: auto;
    }
    .about-us_body{
        text-align: left;
       
    }
    .about-us_body>*{
        max-width: 27rem;
        margin-right: auto;
    }
    .order-online > *{
        max-width: 70ch;
        margin-left: auto;
        margin-right: auto;
    }
    .products{
        flex-direction: row;
        max-width: 90%;
        padding:0 5em ; 
    }
    .product{
        margin: 0;
        flex: 0 1 33%;
    }
    .product + .product{
        margin-left: 1em;
    }
    .product:last-of-type{
        margin-bottom:0 ;
    }
}